{% extends 'NotepadBundle:view:layout.html.twig' %}

{% block title %}Nouvelle note{% endblock %}

{% block pageheader %}Nouvelle note{% endblock %}

{% block actions %}
  <button role="button" id="tag" class="btn btn-lg btn-default">
    <i class="glyphicon glyphicon-plus"></i>
    Ajouter un tag
  </button>
  <a href="{{ path('notepadnotelist') }}"
     class="btn btn-lg btn-default">
      <i class="glyphicon glyphicon-arrow-left"></i>
    Retour
  </a>
{% endblock %}

{% block content %}

{{ form_start(form) }}
  {{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
